@media (width >= 1920px) {
    html {
        font-size: 30px;
    }
}

@media (width >= 1700px) and (width < 1920px) {
    html {
        font-size: 25px;
    }
}

@media (width >= 1440px) and (width < 1700px) {
    html {
        font-size: 20px;
    }
}

@media (width >= 1024px) and (width < 1440px) {
    html {
        font-size: 16px;
    }
}

@media (width < 1440px) {
    nav {
        ul {
            gap:2rem;
        }
    }
}


@media (width >= 768px) and (width < 1024px) {
    html {
        html {
            font-size: 14px;
        }
    }
}

@media (width < 1024px) {
    .intro_text {
        width: 80% !important;
    }
    form {
        width:max-content !important;
    }
}

@media (width < 768px) {
    html {
        font-size: 14px;
    }
    :root {
        --header-top:0rem;
        --intro-pic-top:0rem;
    }
    .top_section {
    background-color: rgb(0, 0, 0,65%);
    height: max-content !important;
    header {
        grid-template-columns: 100% !important;
            .intro_pic {
                position: static !important;
                margin-top: 0 !important;
                grid-column: 1/2 !important;
                grid-row: 1/2 !important;
                height:40rem;
            }
        .intro_text {
            grid-column: 1/2 !important;
            grid-row: 1/2 !important;
            align-self: center;
            justify-self: center;
            z-index: 1 !important;
            width: 80% !important;
            margin:0;
            padding:2.5rem 0;
            h1,h2,p {
                text-align: center !important;
            }
            button {
                display: flex;
                justify-content: center;
                margin-top: 2rem;
            }
        }
        form {
            grid-column: 1/2 !important;
            grid-row: 2/3 !important;
         
            position: static !important;
            width: 100% !important;
            justify-self: start !important;
            grid-template-columns: repeat(1,1fr) !important;
            grid-template-areas: 
            "p-first-of-type"
            "p-nth-of-type"
            "p-last-of-type"
            "class_first_name" 
            "class_last_name" 
            "class_email"
            "class_telephone" 
            "class_address" 
            "class_home_city"
            "class_selection_one" 
            "class_selection_two"
            "submit"
            !important;
    
            p:first-of-type {
                grid-area: p-first-of-type;
            }
            p:nth-of-type(2) {
                grid-area: p-nth-of-type;
            }
            p:last-of-type {
                grid-area: p-last-of-type;
            }
            .class_first_name {
                grid-area: class_first_name;
            }
            .class_last_name {
                grid-area: class_last_name;
            }
            .class_email {
                grid-area: class_email;
            }
            .class_telephone {
                grid-area: class_telephone;
            }
            .class_address {
                grid-area: class_address;
            }
            .class_home_city {
                grid-area:class_home_city;
            }
            .class_selection_one {
                grid-area: class_selection_one;
            }
            .class_selection_two {
                grid-area: class_selection_two;
            }
            #submit {
                grid-area: submit;
            }
        }
        }
}
.comments {
    margin: 4rem 0 0 0;
}

.how_we_work {
    margin: 4rem 0 0 0;
    position: relative;
    .how_we_work_background {
        height:55rem; 
    }
    .contents {
        top:50%;
        transform: translateY(-50%);
        gap:2rem;
        height:55rem; 
        .icons {
            height:max-content;
            width:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    }
        .arrow.down {
            display: block;
        }
        .arrow.right {
            display: none;
        }
    }
}

.our_plan {
    height: max-content;
    grid-template-columns: 100% !important;
    grid-template-areas: 
    "header"
    "card" !important;
    padding:2rem 0;
    gap:2rem;
    .header {
        grid-area: header;
        padding:2rem 0;
        button {
         width:max-content;
        }
    }
    .card {
        grid-area: card;
        width:50%;
        height: max-content;
        justify-self: start;
        margin-left: 4rem;
        button {
            width: max-content !important;
            padding:.5rem .5rem;
        }
    }
}
/*
.closing_image {
    height:30rem;
    margin-top: 4rem;
    background-image: url(Pictures/small-last-pic-2_upscayl_4x_realesrgan-x4plus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

} */
}

@media (width >= 480px) and (width < 768px) {
    html {
        font-size: 14px;
    }
    nav {
        .logo {    
            gap:1.2rem;
        .logo_pic {
            width:3rem;
            height:3rem;
        }    
        h1 {
            font-size:1.2rem;
        }
    }
    }  
}

@media (width < 480px) {
    html {
        font-size: 12px;
    }
    nav {
        .logo {    
            gap:1.2rem;
        .logo_pic {
            width:2.5rem;
            height:2.5rem;
        }    
        h1 {
            font-size:1.0rem;
        }
    }
    }
    .some_cartoons {
        .contents {

            grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
                figure {
                    margin:0 !important;
                div {
                    width:27rem;
                    height: 25rem;
                }
            }
    }
}
}
@media (width < 320px) {
    html {
        font-size: 10px;
    }
}
@media (height < 320px) {
    nav {
        width: 100%;
        position: relative;
    }
}
